.new-c {
    background-color: aquamarine;
    color: green;
}

.delete-c{
    background-color:rgb(255, 107, 107);
    color:darkred;
}

pre {
    padding: 0px 0px 0px 50px;
}

header {
    padding: 50px 0px 50px 0px;
}

.card {
    padding: 30px 30px 10px 30px
}
.code-pad {
    padding: 10px 0px 0px 10px;
}
.pad {
    padding: 20px 0px 0px 0px;
}

footer {
    font-size:small;
    text-align: center;
}